<div class="col col-12">
  <div class="card rounded-0 border-0">
    <div class="card-header">
      <h2 class="card-title"><a href='/posts/{{id}}'>{{title}}</a></h2>
      <h6 class="card-subtitle">{{format_date createdAt}}</h6>
      <h6 class="card-subtitle">By: {{user.name}}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">{{body}}</p>
    </div>
  </div>
</div>